/*******************************************************************************
******************************* ESTILOS GENERALES ******************************
*******************************************************************************/
body{
  margin: 0;
  padding: 0;
}

*{
  font-family: poppins, 'arial';
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
  margin: 0;
  padding: 0;
}

/*******************************************************************************
************************* ESTILOS PARA LA BARRA LATERAL ************************
*******************************************************************************/
aside{
  background: #1D262D;
  width: 16%;
  height: 100vh;
  float: left;
}

.user{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
  width: 100%;
}

#user{
  width: 39%;
}

.text{
  font-size: calc(0.5em + 0.6vw);
  color: white;
  text-decoration: none;
}

#line{
  width: 60%;
  height: 1px;
  background: #EC6D4A;
}

.menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
}

.container-button{
  display: flex;
  align-items: center;
  padding: 7% 5% 7% 5%;
  cursor: pointer;
}

.div-display{
  display: flex;
}

.display{
  flex-direction: column;
}

.icon{
  width: 18%;
  height: 18%;
  padding-right: 13px;
}

/* ESTILOS PARA EL MENU LATERAL */

.nav li > ul li{
  padding: 5%;
  /* background: rgba(58, 76, 90, 0.4); */
}

.menu li:hover{
  background: rgba(43, 52, 61,0.4);
}

/* .nav li > .ul-submenu{
  margin-top: 10px;
} */

.nav li .ul-submenu{
  display: none;
  /* margin-top: 1000px; */
}

/*******************************************************************************
**************************** ESTILOS PARA EL ENCABEZADO ************************
*******************************************************************************/
header{
  width: 100%;
  height: 6vh;
}

#header{
  display: flex;
  align-items: center;
  height: 6vh;
  background: #1A2127;
}

.container{
  width: 50%;
  display: flex;
}

#menu{
  width: 5%;
  height: 5%;
  padding-left: 10px;
}

#title{
  margin: 0;
  padding: 0;
  color: white;
  padding-left: 10px;
  font-size: calc(0.3em + 0.8vw);
  text-decoration: none;
}

#menu-header{
  width: calc(1em + 0.8vw);
  height: calc(1em + 0.8vw);
  padding-left: 10px;
  padding-right: 10px;
}

#header-2{
  display: flex;
  align-items: center;
  height: 6vh;
  justify-content: flex-end;
}


/*******************************************************************************
********************* ESTILOS PARA CONTENEDOR PRINRICPAL ***********************
*******************************************************************************/
section{
  background: linear-gradient(rgba(236, 109, 74, 0.5), rgba(0, 150, 255, 0.5)), url(../img/paisaje.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 84%;
  height: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe{
  width: 85%;
  height: 75vh;
  display: none;
  padding: 0;
  margin: 0;
  border: 0;
}
