/******************************************************************************/
/********************************** GENERALS **********************************/
/******************************************************************************/
body{
  margin: 0;
  padding: 0;
}

*{
  font-family: poppins, 'arial';
}

/******************************************************************************/
/********************************** BACKGROUND ********************************/
/******************************************************************************/
#container-login{
  background: linear-gradient(rgba(236, 109, 74, 0.5), rgba(0, 150, 255, 0.5)), url(../img/paisaje.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

/******************************************************************************/
/*************************************** WHITE ********************************/
/******************************************************************************/
.container-white{
  background: #1D262D;
  width: 25%;
  height: 75vh;
  border-radius: 20px;
  margin: auto;
  box-shadow: 3px 8px 8px black;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/******************************************************************************/
/*********************************** CONTAINER ********************************/
/******************************************************************************/
.container{
  width: 80%;
  margin: auto;
  text-align: center;
}

/**************************************** LOGO ********************************/
#logo{
  width: 35%;
}

/**************************************** FORM ********************************/
form{
  display: flex;
  flex-direction: column;
}

.field {
  display: flex;
  justify-content: space-between;
}

.line{
  border-bottom: 2px solid #EC6D4A;
  margin-bottom: 18%;
}

.icon{
  width: 10%;
  margin-bottom: 2px;
}

.textbox{
  width: 88%;
  font-size: 25px;
  border: none;
  outline: none;
  background: transparent;
  color: white;
}

::placeholder{
  color: white;
}

#button-start{
  width: 100%;
  height: 8vh;
  border: none;
  background: #EC6D4A;
  color: #FFF;
  font-size: 25px;
  box-shadow: 3px 5px 5px black;
  cursor: pointer;
}

#forget-password{
  color: black;
}


/* MENSAJE ERROR */
#msj{
  color: #ec6d4a;
  font-size: calc(0.8em + 0.9vw);
}



/******************************************************************************/
/*********************************** CELULAR   ********************************/
/******************************************************************************/
