/* MENSAJE DE DIALOGO */
.triangulo{
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid white;
      margin-left: 46px;
  }

  .rectangulo{
    width: 200px;
    height: 50px;
    background: white;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 6px;
    box-shadow: 1px 3px 3px black;
    border-radius: 8px;
  }

  .container-msg{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 34%;
  }

  .container-top{
    display: flex;

  }

  .img-msg {
    width: 6%;
  }

.title-msg-2 {
    margin: 0;
    padding: 0;
    font-size: calc(0.5em + 0.5vw);
    padding-left: 5px;
}

.title-content-msg-2 {
    font-size: calc(0.4em + 0.4vw);
    margin: 0;
    padding: 0;
    padding-top: 4px;
}

.title-msg{
  display: none;
}

.title-content-msg{
  display: none;
}
