.box{
  width: 350px;
  height: 200px;
  background: #1A2127;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 30%;
  bottom: 36%;
  border-radius: 5px;
  border: 2px solid #EC6D4A;
}

.title-box{
  display: none;
}

.title-box-2{
  color: white;
  font-size: 22px;
  margin: 0;
  margin-bottom: 15px;
}

.btn-confirm{
  width: 80%;
  background: #EC6D4A;
  border: 2px solid #EC6D4A;
  padding: 7px;
  color: white;
  border-radius: 10px;
  font-size: 22px;
  cursor: pointer;
}
